<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="assets/fontAwesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/category.css">
    <script src="assets/mui/js/mui.min.js"></script>
</head>

<body>
    <header class="mui-bar mui-bar-nav my-header">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <a class="mui-icon mui-icon-search mui-pull-right"></a>
        <h1 class="mui-title">乐淘云购</h1>
    </header>
    <nav class="mui-bar mui-bar-tab footer my-footer">
        <a class="mui-tab-item" href="index.html">
            <span class="mui-icon mui-icon-home"></span>
            <span class="mui-tab-label">首页</span>
        </a>
        <a class="mui-tab-item mui-active" href="category.html">
            <span class="mui-icon mui-icon-bars"></span>
            <span class="mui-tab-label">分类</span>
        </a>
        <a class="mui-tab-item" href="cart.html">
            <span class="mui-icon iconfont fa fa-shopping-cart"></span>
            <span class="mui-tab-label">购物车</span>
        </a>
        <a class="mui-tab-item" href="user.html">
            <span class="mui-icon mui-icon-person"></span>
            <span class="mui-tab-label">会员中心</span>
        </a>
    </nav>
    <div class="mui-content">
        <div class="cate-wrapper">
            <!--一级导航开始-->
            <div class="cate-list">
                <div id="leftCate">
                    <!--模板引擎渲染出来的-->
                </div>
            </div>
            <!--一级导航结束-->
            <!--二级导航开始-->
            <div class="cont-list">
                <div class="waper" id="rightCate">
                    <!--模板引擎渲染内容-->                
                </div>
            </div>
            <!--二级导航结束-->
        </div>
    </div>
    <script>
    mui('.cate-list').scroll({
            indicators: false, //是否显示滚动条
    });

    mui('.cont-list').scroll({
            indicators: false, //是否显示滚动条
        });

    </script>
    <script src="./assets/zepto/zepto.min.js"></script>
    <script src="./assets/artTemplate/template-native.js"></script>
    <!--一级分类模板-->
    <script id="category-first" type="text/template">
        <% for(var i=0;i<result.length;i++){ %>
        <a  data-id="<%=result[i].id%>" href="javascript:;" class="items getSecond"><%=result[i].categoryName%></a>
        <%}%>
    </script>
    <!--二级分类模板-->
    <script id="category-second" type="text/template">
    <% for(var i=0;i<rows.length;i++){ %>
        <a href="#" class="items">
            <img src="<%=rows[i].brandLogo%>">
            <span><%=rows[i].brandName%></span>
        </a>
    <%}%>
    <%if(!rows.length){%>
        <div>暂无数据</div>
    <%}%>
    </script>
    <script>
    $(function(){
        //获取一级数据并渲染
        $.ajax({
            type: "get",
            url: "http://localhost:3000/category/queryTopCategory",
            data: {},
            dataType: "json",
            success: function (response) {
                // console.log(response);
                //注意，第二个参数不能是数组，一定要是对象
                var html = template('category-first',{result:response.rows});
                $("#leftCate").html(html);

                //默认显示第一个一级分类的二级分类
                if(response.rows.length){
                    $('#leftCate a').eq(0).addClass('active');
                    var id = response.rows[0].id;
                    // console.log(id);
                    getSecondCategory(id);
                }
            }
        });

        //点击左侧，切换右侧
        $('#leftCate').on('click','a',function(){
            // console.log($(this).attr('data-id'));
            var id = $(this).attr('data-id');
            $(this).addClass('active').siblings().removeClass('active');
            getSecondCategory(id);
        })
    })

    function getSecondCategory(id){
        $.ajax({
            type: "get",
            url: "http://localhost:3000/category/querySecondCategory",
            data: { id: id },
            dataType: "json",
            success: function (response) {
                // console.log(response);
                var html = template('category-second', response);
                // console.log(html);
                $('#rightCate').html(html);
            }
        });
    }
    </script>
</body>

</html>