<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="assets/fontAwesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/detail.css">
    <script src="assets/mui/js/mui.min.js"></script>
</head>

<body>
    <header class="mui-bar mui-bar-nav my-header">
        <a class="mui-icon mui-icon-search mui-pull-right"></a>
        <h1 class="mui-title">商品详情</h1>
    </header>
    <nav class="mui-bar mui-bar-tab footer my-footer">
        <a class="mui-tab-item mui-active" href="index.html">
            <span class="mui-icon mui-icon-home"></span>
            <span class="mui-tab-label">首页</span>
        </a>
        <a class="mui-tab-item" href="category.html">
            <span class="mui-icon mui-icon-bars"></span>
            <span class="mui-tab-label">分类</span>
        </a>
        <a class="mui-tab-item" href="cart.html">
            <span class="mui-icon iconfont fa fa-shopping-cart"></span>
            <span class="mui-tab-label">购物车</span>
        </a>
        <a class="mui-tab-item" href="user.html">
            <span class="mui-icon mui-icon-person"></span>
            <span class="mui-tab-label">会员中心</span>
        </a>
    </nav>
    <div class="mui-content">
        <div class="wrapper">
        <div id="product-box"></div>
        <!--查看购物车、加入购物车开始-->
        <div class="detail-buttons"><a href="#">查看购物车</a><span id="addCart">加入购物车</span></div>
        <!--查看购物车、加入购物车结束-->
        </div>
    </div>
    <script>
        mui('.mui-content').scroll({
            indicators: false, //是否显示滚动条
        });
    </script>
    <script src="./assets/zepto/zepto.min.js"></script>
    <script src="./assets/artTemplate/template-native.js"></script>
    <script type="text/template" id="productTpl">
                <!--轮播开始-->
        <div id="slider" class="mui-slider">
            <div class="mui-slider-group mui-slider-loop">
                <% for(var i=0;i<pic.length;i++){ %>
                <div class="mui-slider-item">
                    <a href="#">
                        <img src="<%=pic[i].picAddr %>">
                    </a>
                </div>
                <% } %>
            </div>
        </div>
        <!--轮播结束-->
        <!--商品标题开始-->
        <div class="detail-title">
            <%=proName %>
        </div>
        <!--商品标题结束-->
        <!--价格区域开始-->
        <div class="detail-price">
            价格：
            <span class="new">¥<%=price %></span>
            <span class="old">¥<%=oldPrice %></span>
        </div>
        <!--价格区域结束-->
        <!--尺码开始-->
        <div class="detail-size">
            尺码：
            <%var size = size.split('-');%>
            <%for(var i=0;i<size.length;i++){%>
                <span><%=size[i]%></span>
            <%}%>
        </div>
        <!--尺码结束-->
        <!--数量开始-->
        <div class="detail-num">
            数量：
            <!--这里的data-numbox-max='100'取决于商品库存值-->
            <div class="mui-numbox" data-numbox-min="1" data-numbox-max='<%=num%>'>
                <button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
                <input class="mui-input-numbox" type="number" />
                <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
            </div>
            剩余：
            <i><%=num%></i>件
        </div>
        <!--数量结束-->
    </script>
    <script>
    /**
         *  [获取地址栏的参数]
         *  @param url - 地址字符串 
         *  @param name - 要获取的参数名称
         * return 参数名称对应的参数值
         */
        function getParamsByUrl(url, name) {
            var params = url.substr(url.indexOf('?') + 1);
            var param = params.split('&');
            for (var i = 0; i < param.length; i++) {
                var current = param[i].split('=');
                if (current[0] == name) {
                    return current[1];
                }
            }
            return null;
        }


        $(function(){
            //产品id
            var id = getParamsByUrl(location.href,'id');
            var productId = 0;
            // console.log(id);
            $.ajax({
                type: "get",
                url: "http://localhost:3000/product/queryProductDetail",
                data: {id:id},
                dataType: "json",
                success: function (response) {
                    productId = response.id;
                    console.log(response);
                    var html = template('productTpl',response);
                    // console.log(html);
                    $('#product-box').html(html);
                    var gallery = mui('.mui-slider');
                    gallery.slider({
                        interval: 5000//自动轮播周期，若为0则不自动播放，默认为0；
                    });
                    //初始化数字输入框
                    mui('.mui-numbox').numbox()
                    
                }
            });
            
            $('#product-box').on('tap', ".detail-size span", function () {
                // console.log($(this).html())
                $(this).addClass('active').siblings().removeClass('active');
            })


            //加入购物车
            $('#addCart').on('tap',function(){
                var size = $('.detail-size span.active').html();
                if(!size){
                    mui.toast('请选择尺码');
                    return;
                }
                // console.log(size);
                var num = mui(".mui-numbox").numbox().getValue();
                // console.log(num);
                $.ajax({
                    type: "post",
                    url: "/cart/addCart",
                    data: {
                        productId:productId,
                        num:num,
                        size:size
                    },
                    dataType: "json",
                    success: function (response) {
                        // console.log(response)
                        if(response.success){
                            mui.confirm('加入购物车成功,跳转到购物车?',function(message){
                                if(message.index){
                                    //跳转到购物车
                                    location.href = "cart.html";
                                }
                            })
                        }
                    }
                });
            })
        })
    </script>
</body>

</html>