body{
	overflow: hidden;
}
.mui-bar-tab~.mui-content{
	position: absolute;
	top:44px;
	left:0;
	right:0;
	bottom:50px;
	padding-top:10px;
	padding-bottom: 0;
	padding-left:10px;
	padding-right: 10px;
}
.search{
	width:100%;
	height:30px;
	border:1px solid #006699;
	position:relative;
	margin-bottom:20px;
}

.search input[type="text"]{
	height:28px;
	line-height:28px;
	border:none;
	margin-bottom:0;
	padding:0 70px 0 10px;
	font-size:14px;
}

.search input[type="button"]{
	width:60px;
	height:28px;
	position:absolute;
	right:0;
	top:0;
	border:none;
	background:#006699;
	border-radius:0;
	color:#FFF;
}

.mui-table-view-cell:after{
	left:0;
}

.title{
	padding-bottom:10px;
}

.search-bar{
	text-align:center;
	background:#efeff4;
	padding:8px 0;
	font-size:14px;
	margin-bottom:15px;
}

#refresh{
	position:absolute;
	left:0;
	width:100%;
	top:44px;
	bottom:50px;
}

.product{
	background: #fff;
	padding:0 10px;
}

.product .title{
	width:100%;
	margin:10px 0;
}


.product li{
	width:50%;
	float:left;
	padding:5px;
}

.product a{
	display:block;
	padding:0 5px;
	box-shadow:0 0 5px #ccc;
	overflow:hidden;
}

.product a img{
	width:100%;
}

.product .name{
	line-height:18px;
	display:block;
	color:#8f8f94;
	text-align:center;
	padding:6px;
	height:44px;
	overflow:hidden
}

.product p{
	font-size:12px;
	text-align:center;
}

.product p span:first-child{
	color:#f30;
	margin-right:2px;
}

.product p span:last-child{
	color:#ccc;
	text-decoration:line-through;
	margin-left:2px;
}

.product .buy-now{
	background:#006699;
	color:#FFF;
	margin:0 auto;
	border:none;
	display:block;
	margin-bottom:10px;
}


